@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* shared styles*/
* {
    box-sizing: border-box;
    max-width: 1440px;
    margin: 10px;
    padding: 0;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
}

.btn-orange {
    border: none;
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 50px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 800;
}

header {
    border: 2px solid tomato;
}

/* nav styles */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

.nav-elements {
    list-style: none;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: #424247;
    font-size: 1.125rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

.hidden {
    display: none;
}

.dropdown {
    list-style: none;
    display: none;
}

.nav-title {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-title span {
    color: #FF5400;
    font-size: 2.25rem;
    font-weight: 800;
}

.home {
    color: #FF5400;
}

/* banner styles */

.banner-section {
    margin-top: 50px;
    text-align: center;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-bottom: 100px;
}

.banner-fields {
    display: flex;
}

.box {
    outline: none;
    width: 174px;
    height: 40px;
    border-radius: 8px;
    padding-left: 10px;
}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

.banner-description {
    max-width: 600px;
    color: #FFF;
    font-weight: 400;
}

.banner-button {
    border: none;
    width: 140px;
    height: 40px;
    border-radius: 8px;
    padding-right: 30px;
    background: #FF5400;
    color: #FFF;
    font-weight: 700;
}

/* main section */
/* popular section */
main {
    border: 2px solid blue;
}

.popular {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.popular-container {
    max-width: 570px;
}

.p-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.p-text {
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
    margin-bottom: 30px;
}

.destination {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.destination p {
    max-width: 500px;
}

/* gallery section */
.gallery {
    margin: 0 auto;
    display: grid;
    max-width: 95%;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0 10px;
}

.country1 {
    grid-column: span 5;
    background-image: url('../images/Rectangle\ 5.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
}

.country2 {
    grid-column: span 5;
    background-image: url('../images/Rectangle\ 8.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
}

.country3 {
    grid-column: span 3;
    background-image: url('../images/Rectangle\ 6.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
}

.country4 {
    grid-column: span 5;
    background-image: url('../images/Rectangle\ 7.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
}

.country5 {
    grid-column: span 2;
    background-image: url('../images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
}

.country6 {
    grid-column: span 4;
    background-image: url('../images/Rectangle\ 11.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
}

.country7 {
    grid-column: span 6;
    background-image: url('../images/Rectangle\ 10.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
}

/* small devices responsive */
@media screen and (max-width:600px) {
    .nav-elements {
        display: none;
    }

    .hidden {
        display: inline-block;
        visibility: visible;
    }

    .hidden:hover {
        height: 160px;
        width: 150px;
    }

    .hidden:hover .dropdown {
        display: inline-block;
    }

    .banner-fields {
        flex-direction: column;
    }

    .banner-button {
        outline: none;
        width: 174px;
        height: 40px;
        border-radius: 8px;
        padding-left: 10px;
    }

    .popular {
        flex-direction: column;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        width: 95%;
        padding: 0;
    }
}